body{
    text-align: center;
}

canvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif)
}

#run{
    background-color: #000;
    color: #fff;
}

#talkbox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}
/*
ul{
    text-align: center;
}
*/
li{
    text-align: left;
}

#RPG{
    display: block;
}

#random{
    display: none;
}

#task{
    text-align:center;
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:300px;
}

#magic{
    display: none;
}

#youtubeplayer{
    display: none;
}

table{
    width: 300px;
}
/*
h2{
    height: 32px;
    font-size: medium;
}
*/
tr:nth-child(odd) {
    background-color: #4cf3e7;
}
  
  /* 偶數行 */
tr:nth-child(even) {
    background-color: #fd95d3;
}